/************************************************************
* Reset all margins from all elements
************************************************************/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

/************************************************************
* CONTAINER
************************************************************/
.container{
  margin: 0 auto;
  max-width: 978px;
}

/************************************************************
* MAIN HEADER
************************************************************/
